:root {
  /*Typography*/
  --primary-font-family: "Open Sans", sans-serif;

  /* Font Weights */
  --primary-font-weight: 400;
  --primary-font-weight-bold: 600;

  /* Font Sizes */
  --primary-font-size-smallest: 12px;
  --primary-font-size-small: 16px;
  --primary-font-size-medium: 20px;
  --primary-font-size-large: 42px;
  --primary-font-size-largest: 48px;

  /* Line Heights */
  --primary-line-height-smallest: 16.34px;
  --primary-line-height-small: 21.79px;
  --primary-line-height-medium: 27.24px;
  --primary-line-height-large: 57.2px;
  --primary-line-height-largest: 65.37px;

  /*Backgrounds*/
  --primary-background-color: #ffffff;
  --primary-input-background-color: #fff7f3;
  --primary-social-background-color: #f3f7f4;
  --primary-main-background-color: #f2f7f3;

  /*Colors*/
  --primary-color: #1f1f1f;
  --primary-accent-color-1: #f95707;
  --primary-accent-color-2: #105720;
  --primary-accent-color-4: #4c4c4c;

  /*Borders*/
  --primary-header-border: #e8e8e8;
  --primary-advantages-border: var(--primary-header-border);
  /*
 
  #F95707
  
  #F3F7F4
  #1F1F1F
  #ffffff
  #F3F7F4
  #c6d6c9
*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: var(--primary-font-family);
  background-color: var (--primary-background-color);
}
nav,
ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/*Header section*/
.header {
  display: flex;
  flex-direction: column;
  padding: 16px 312px 0;
  position: relative;
}
/*Top header bar*/
.header__top-bar {
  display: flex;
  align-items: center;
  position: relative;
}
.header__top-bar::after {
  content: "";
  position: absolute;
  left: -312px;
  right: -312px;
  bottom: 0;
  height: 1px;
  background-color: var(--primary-header-border);
}

/*Header logo*/
.header__logo-container {
  padding-right: 42px;
  padding-bottom: 16px;
}

.header__logo {
  width: 196px;
  height: 58px;
}
.header__opening-hours {
  color: var(--primary-color);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size-smallest);
  line-height: var(--primary-line-height-smallest);
  opacity: 0.8;
}

/*Header search input*/
.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 97px;
}
.header__search-input {
  width: 215px;
  height: 46px;
  border-radius: 100px;
  background-color: var(--primary-input-background-color);
  border: none;
  background-image: url("/assets/icons/search_icon.png");
  background-repeat: no-repeat;
  background-position: 28px center;
  background-size: 24px 24px;
  padding-left: 65px;
}
.header__search-input::placeholder,
.header__calculator {
  font-weight: var(--primary-font-weight-bold);
  font-size: var(--primary-font-size-small);
  line-height: var(--primary-line-height-small);
}

.header__search-input::placeholder {
  color: var(--primary-accent-color-1);
}
/*Header calculator*/
.header__calculator {
  color: var(--primary-accent-color-2);
  padding-right: 98px;
}

/*Header social media buttons */

.header__social-media-list {
  display: flex;
  align-items: center;
  width: 114px;
  justify-content: space-between;
  margin-right: 42px;
}
.header__social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--primary-social-background-color);
  border-radius: 30px;
}
.header__social-media-item:not(:last-child) {
  margin-right: 12px;
}
/*Header contact info*/
.header__contact-info {
  margin-right: 42px;
}
.header__phone-number,
.header__email {
  font-size: var(--primary-font-size-small);
  line-height: var(--primary-line-height-small);
  color: var(--primary-color);
  font-style: normal;
}
.header__phone-number {
  font-weight: var(--primary-font-weight-bold);
}
.header__email {
  font-weight: var(--primary-font-weight);
  opacity: 0.8;
  text-decoration: none;
}

/*Header callback button*/

.btn {
  height: 46px;
  border-radius: 100px;
  border: 1px solid var(--primary-accent-color-1);
  font-weight: var(--primary-font-weight-bold);
  font-size: var(--primary-font-size-small);
  line-height: var(--primary-line-height-small);
}
.header__btn--callback {
  width: 207px;
  color: var(--primary-accent-color-1);
  background-color: transparent;
}

/*
*Main header bar
*/
.header__main-bar {
  padding: 22px 0;
  position: relative;
  display: flex;
  align-items: center;
  height: 67px;
}
.header__main-bar::after {
  content: "";
  position: absolute;
  left: -312px;
  right: -312px;
  /* bottom: 2px; */
  bottom: 0;
  height: 1px;
  background-color: var(--primary-header-border);
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__menu-item:not(:last-child) {
  margin-right: 111px;
}
.header__menu-link {
  text-decoration: none;
  color: var(--primary-accent-color-4);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size-small);
  line-height: var(--primary-line-height-small);
  text-transform: uppercase;
  position: relative;
}
.header__menu-link:hover {
  color: var(--primary-accent-color-1);
}
.header__menu-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--primary-accent-color-1);
  left: 50%;
  bottom: -21px;
  transition: width 0.3s ease, left 0.3s ease;
  z-index: 4;
}
.header__menu-link:hover::after {
  width: 100%;
  left: 0;
  z-index: 4;
}
/*Main section*/

.main {
  display: flex;
  position: relative;
  height: 689px;
  padding: 100px 0 120px 312px;
  background-color: var(--primary-main-background-color);
}
/*Main content*/
.main__content {
  height: 469px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__title {
  font-weight: var(--primary-font-weight-bold);
  font-size: var(--primary-font-size-largest);
  color: var(--primary-color);
  line-height: var(--primary-line-height-largest);
  margin-bottom: ;
}
.main__last-line {
  color: var(--primary-accent-color-2);
}
/*Main buttons*/

.main__buttons {
  display: flex;
  flex-wrap: wrap;
  width: 416px;
}
.main__btn--price,
.main__btn--how,
.main__btn--feedback,
.main__btn--promo {
  background-color: transparent;
  color: var(--primary-accent-color-1);
}
.main__btn--price {
  width: 201px;
  margin-right: 10px;
}
.main__btn--how {
  width: 205px;
}
.main__btn--feedback {
  width: 129px;
  margin: 10px 10px 0 0;
}
.main__btn--promo {
  width: 116px;
  margin-top: 10px;
}

/*Main request button*/
.main__btn--request {
  width: 199px;
  background-color: var(--primary-accent-color-1);
  color: var(--primary-background-color);
}
/*Main video circle container */
.main__circle-container {
  position: absolute;
  top: 52px;
  right: 832px;
}
/*Main picture */
.main__picture {
  position: absolute;
  right: 0;
  top: 0;
}
/*Advantages section*/
.advantages {
  display: flex;
  padding: 62px 312px 100px;
  justify-content: space-between;
}
/*Advantage card */
.advantages__card {
  width: 416px;
  height: 152px;
  padding: 20px 0px 24px 30px;
  /* padding: 20px 84px 24px 30px; */
  border: 1px solid var(--primary-advantages-border);
  border-radius: 15px;
}
.advantages__card:not(:last-child) {
  margin-right: 24px;
}
.advantages__header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.advantages__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: var(--primary-accent-color-2);
  border-radius: 50%;
  margin-right: 12px;
}

.advantages__title {
  font-weight: var(--primary-font-weight-bold);
  font-size: var(--primary-font-size-medium);
  line-height: var(--primary-line-height-medium);
  color: var(--primary-color);
}
.advantages__description {
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size-small);
  line-height: var(--primary-line-height-small);
  color: var(--primary-color);
  width: 302px;
}
/*About section*/
.about {
  display: flex;
  padding: 0 312px;
  margin-bottom: 30px;
  justify-content: space-between;
  width: 100%;
}
/*About content*/
.about__content {
  border: 2px solid var(--primary-accent-color-1);
  border-left: none;
  border-right: none;
  padding: 42px 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/*About title*/
.about__title {
  font-weight: var(--primary-font-weight-bold);
  font-size: var(--primary-font-size-large);
  line-height: var(--primary-line-height-large);
  color: var(--primary-color);
  width: 297px;
}
/*About description*/
.about__paragraph-wrapper {
  display: flex;
  flex-direction: column;
  width: 746px;
}
.about__paragraph {
  font-size: var(--primary-font-size-small);
  font-weight: var(--primary-font-weight);
  line-height: var(--primary-line-height-small);
  color: var(--primary-color);
}
.about__paragraph:not(:last-child) {
  padding-bottom: 32px;
}
